absl-py==0.10.0
aiohttp==3.7.3
altair==4.1.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi @ file:///Users/runner/miniforge3/conda-bld/argon2-cffi_1596629858645/work
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
atpublic==2.1.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
base58==2.0.1
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1588608214987/work
blinker==1.4
blis==0.4.1
boto3==1.14.60
botocore==1.17.60
bpemb==0.3.2
brotlipy==0.7.0
cachetools==4.1.1
catalogue==1.0.0
certifi==2020.6.20
cffi @ file:///opt/concourse/worker/volumes/live/199e7db2-0b3a-46e0-4230-da33c5d6c6de/volume/cffi_1598370769235/work
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
click-log==0.1.8
cloudpickle==1.6.0
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
coreapi==2.3.3
coreapi-cli==1.0.9
coreschema==0.0.4
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1598621038791/work
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.10
dictdiffer==0.8.1
distlib==0.3.1
distro==1.5.0
docutils==0.15.2
dpath==2.0.1
dulwich==0.20.11
dvc==1.10.1
elasticsearch==7.10.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.3.1/en_core_web_md-2.3.1.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
enum-compat==0.0.3
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-2.3.1/es_core_news_sm-2.3.1.tar.gz
filelock==3.0.12
flair==0.6.1
Flask==1.1.2
Flask-Cors==3.0.9
flatten-dict==0.3.0
flufl.lock==3.2
ftfy==5.8
funcy==1.15
future==0.16.0
gast==0.3.3
gdown==3.12.2
gensim==3.8.3
gitdb==4.0.5
GitPython==3.1.11
google-auth==1.21.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googletrans==3.0.0
grandalf==0.6
grpcio==1.32.0
h11==0.9.0
h2==3.2.0
h5py==2.10.0
hpack==3.0.0
hstspreload==2020.10.6
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
hyperopt==0.2.5
identify==1.5.6
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
immutables==0.14
importlib-metadata @ file:///Users/runner/miniforge3/conda-bld/importlib-metadata_1593211382425/work
iniconfig==1.1.1
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1595446887114/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1598749965211/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
itypes==1.2.0
Janome==0.4.1
jedi==0.15.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1591810480056/work
jsonpath-ng==1.5.2
jsonschema==3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-core==4.6.3
jupyterlab==2.2.7
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1593951277307/work
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
konoha==4.6.2
langdetect==1.0.8
lxml==4.5.2
mailchecker==3.3.17
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-base_1594091691585/work
mindmeld==4.3.3
mistune==0.8.4
mpld3==0.3
multidict==5.0.2
murmurhash==1.0.2
mypy==0.790
mypy-extensions==0.4.3
nanotime==0.5.2
nbconvert==5.6.1
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1594060262917/work
networkx==2.4
nltk==3.5
nodeenv==1.5.0
notebook @ file:///Users/runner/miniforge3/conda-bld/notebook_1597285253098/work
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
overrides==3.0.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas==1.1.2
pandocfilters==1.4.2
parso==0.5.2
pathlib==1.0.1
pathlib2==2.3.5
pathspec==0.8.1
pathtools==0.1.2
pexpect==4.8.0
phonenumbers==8.12.13
pickleshare==0.7.5
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1594212124634/work
plac==1.1.3
pluggy==0.13.1
ply==3.11
pre-commit==2.7.1
preshed==3.0.2
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1598885455507/work
protobuf==3.13.0
ptyprocess==0.6.0
py==1.9.0
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==20.7.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pydeck==0.5.0b1
pydot==1.4.1
Pygments==2.6.1
pygtrie==2.3.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pytest==6.1.1
python-benedict==0.22.0
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==18.1.1
regex==2020.7.14
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
requests-oauthlib==1.3.0
rfc3986==1.4.0
rich==9.2.0
rsa==4.6
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.19.2
scipy==1.4.1
segtok==1.5.10
Send2Trash==1.5.0
sentencepiece==0.1.91
shortuuid==1.0.1
shtab==1.3.2
simpleaudio==1.0.4
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn-crfsuite==0.3.6
smart-open==3.0.0
smmap==3.0.4
sniffio==1.2.0
spacy==2.3.2
sqlitedict==1.7.0
srsly==1.0.2
streamlit==0.66.0
tabulate==0.8.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
thinc==7.4.1
threadpoolctl==2.1.0
tika==1.24
tokenizers==0.8.1rc2
toml==0.10.1
toolz==0.10.0
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tox==3.20.1
tqdm==4.48.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1599471676085/work
transformers==3.3.1
translate==3.5.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
tzlocal==2.1
uritemplate==3.0.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1595434816409/work
validators==0.18.1
virtualenv==20.0.35
voluptuous==0.12.0
wasabi==0.8.0
watchdog==0.10.3
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1595859607677/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wordcloud @ file:///Users/runner/miniforge3/conda-bld/wordcloud_1597448315688/work
wrapt==1.12.1
xmltodict==0.12.0
yarl==1.6.3
zc.lockfile==2.0
zipp==3.1.0
